body {
    background-color: #191717;
}

.Homepage {
    padding: 0;
    background-color: #191717;
    height: 100%;
    width: 100vw;
    border:2px solid black;
}

.Nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #630a0a;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 1px;
    opacity: .85 ;
    backdrop-filter: blur(5px);
    text-align: center;
}
.search{
    display: flex;
    padding: 10px;
    border: 4px solid black;
    outline: none;
    flex: 1;
    font-size: 16px;
    margin: 5px;
}

.query{
    background-color: #670a0a;
    width: 15%;
    border: 1px solid black;
    outline: none;
    flex: 1;
    font-size: 16px;
}


.Videos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;              /* increase spacing */
    padding: 10px;
}

/* IMPORTANT: match your actual Video_card size */
.skeleton-card {
    width: 360px;
    height: 250px;
    border-radius: 10px;
    background: #2a2a2a;   /* fix white flash */
    flex-shrink: 0;        /* prevents weird shrinking */
}
/* Shimmer effect */
.skeleton-card::after {
    content: "";
    position: absolute;
    top: 19%;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255,255,255,0.2),
            transparent
    );
    animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}